sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t andreabecerra/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true andreabecerra/react-test npm run test -- --coverage

after_success:
  - docker build -t andreabecerra/multi-client ./client
  - docker build -t andreabecerra/multi-nginx ./nginx
  - docker build -t andreabecerra/multi-server ./server
  - docker build -t andreabecerra/multi-worker ./worker

  # log into docker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # push images
  - docker push andreabecerra/multi-client
  - docker push andreabecerra/multi-nginx
  - docker push andreabecerra/multi-server
  - docker push andreabecerra/multi-worker
